<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback 3D</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="../styles/main.css">
  <!-- endinject -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="icon" href="../assets/icon/favicon.ico">
</head>
<body>
  <div class="primary-content">
<div onclick="location.href='./admin-events.html';" style="cursor:pointer;" class="logo container"></div>
<nav role="navigation" class="m-navbar container-fluid">
  <div class="m-navbar m-navbar_logout container">
  <ul class="nav" ng-show="authenticated">
    <li><a href="#" ng-click="logout()">Log Out</a></li>
  </ul>
</div>
</nav>
<nav role="navigation" class="m-navbar m-admin_home_toggle container">
<ul class="nav">
  <li><a href="./admin-events.html">Events</a></li>
  <li><a href="./admin-users.html">Users</a></li>
</ul>
</nav>
<div class="container">
	<div class="row">
      <div class="table">
        <table class="m_users_table">
       <thead class="m_users_table-heading">
            <tr class="m-table_mobile_menu-hide">
              <th class="m_users_table-column1"></th>

              <th class="m_users_table-column2 m_users_table-column2-heading"><div class="m-table_title">Name</div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_users_table-column3"><div class="m-table_title">Account</div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_users_table-column4"><div class="m-table_title">Subscription</div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_users_table-column5"><div class="m-table_title">Joined</div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              </div></th>

              <th class="m_users_table-column6"><div class="m-table_title m-table_title-center">Events<br>Watched</div>
              <div class="m-table_sort m-table_sort-center"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_users_table-column7"><div class="m-table_title m-table_title-center">Events<br>Created</div>
              <div class="m-table_sort m-table_sort-center"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

            </tr>

            <!--Mobile Table Sort Dropdown -->
            <div class="btn-group m-table_mobile_menu">
              <button type="button" class="m-table_mobile_menu-styling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by: <span class="m-table_mobile_menu-text">Name </span> <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu m-table_mobile_menu-styling-dropdown">
                <li><a href="#">Name</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Subscription</a></li>
                <li><a href="#">Joined</a></li>
                <li><a href="#">Events Watched</a></li>
                <li><a href="#">Events Created</a></li>
              </ul>
            </div>
          <!--End/ Mobile Table Sort Dropdown -->
          </thead>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_users_table-column1"><img class="img-missing_small" src="../assets/img/noimg.png"></td>
              <td class="m_users_table-column2 m_users_table_border ">Name</td>
              <td class="m_users_table-column3 m_users_table_border ">Individual</td>
              <td class="m_users_table-column4 m_users_table_border ">Subscription</td>
              <td class="m_users_table-column5 m_users_table_border ">01/01/16</td>
              <td class="m_users_table-column6 m_users_table_border ">10</td>
              <td class="m_users_table-column7 m_users_table_border ">0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class=""></ul>
	</div>
</div>
<div class="container m_users_table_pagination"><span class="m_users_table_pagination_text">Previous</span>
<span class="m_users_table_pagination-page-numbers">1</span>
  <span class="m_users_table_pagination-page-numbers">2</span>
  <span class="m_users_table_pagination-page-numbers">3</span>
  <span class="m_users_table_pagination-page-numbers">4</span><span class="m_users_table_pagination_text">Next</span></div>


<div class="m-footer_sticky"></div>
        </div>
        <footer class="m-footer">
        <div class="m-footer_center">© 2016 Feedback 3D. All rights reserved.</div></footer>
</body>
</html>
