//Admin Secondary Navigation Menu

.m-admin_home_toggle {
  background-color: $table-charcoal;
  margin-top: 32px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 24px;
  font-weight: 400;
  color: $palette-white;
  line-height: .8;

}

.m-admin_home_toggle > ul > li > a {
  color: $palette-white;
  width: 150px;
  text-align: center;
}

.m-admin_home_toggle > ul > li > a:hover {
   background-color: $palette-teal;
   color: $table-nav-selected;
}

.m-admin_home_toggle > ul > li > a:active {
   background-color: $palette-teal;
   color: $table-nav-selected;
}

.m-admin_home_toggle > ul > li {
  float:left;
}

//Desktop Only
@media (min-width: 991px)
  {
.m-admin_home_toggle {
  margin-left: -15px;
  margin-right: -15px;
}
}


//Mobile View
@media (max-width: 990px)
  {
.m-admin_home_toggle {
  margin-left: 1px;
  margin-right: 1px;
}
}

//XS Mobile View
@media (max-width: 399px)
  {
    .m-admin_home_toggle > ul > li > a {
      width: 135px;
    }
    }
