//Moz Bug Fix
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


.m_events_table {
  color: $palette-white;
  font-weight: 300;
  margin-top: 36px;
  margin-bottom: 68px;
  padding-left: 14px;
}

.m_events_table_border {
  border-left: 2px;
  border-left-style: solid;
  border-color:$table-charcoal-lite;
}
.m_events_table-heading {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 14px;
}

.m_events_table-heading > tr > th {
  padding-bottom: 14px;
}

.m_events_table-heading-mobile {
  display:none;
}

.m_events_table_pagination {
  text-align: center;
  margin-bottom: 80px;
}

.m_events_table_pagination_text {
  padding-left: 11px;
  padding-right: 11px;
}

.m_events_table_pagination-page-numbers {
  border-color: $palette-white;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}


//Fixed Width Table Columns
.m_events_table-column1 {
  width:45px;
}
.m_events_table-column2{
  width:119px;
}
.m_events_table-column3 {
  width:205px;
  padding-left:14px;
  color: $palette-teal;
}

.m_events_table-column3-heading {
  color: $palette-white;
}

.m_events_table-column4 {
  width:162px;
  padding-left:14px;
}
.m_events_table-column5 {
  width:114px;
  padding-left:14px;
}
.m_events_table-column6 {
  width:140px;
  padding-left:14px;
}
.m_events_table-column7 {
  width:122px;
  padding-left:14px;
}
.m_events_table-column8 {
  width:132px;
  padding-left:14px;
}

//Tablet View

@media (min-width: 991px)
  and (max-width: 1024px)
  {
.m_events_table-column3 {
  width:190px;
}
.m_events_table-column4 {
  width:142px;
}
.m_events_table-column5 {
  width:102px;
}
.m_events_table-column6 {
  width:129px;
}
.m_events_table-column7 {
  width:106px;
}
.m_events_table-column8 {
  width:118px;
}
}

//Mobile View

@media (max-width: 990px)
  {
    .m_events_table-column1 {
      display:table;

    }
    .m_events_table-column2 {
      vertical-align: top;
      padding-top: 29px;

    }
    .m_events_table-column3 {
      display: block;
      padding-left: 25px;
      padding-top: 24px;
      font-weight: 400;
    }
    .m_events_table-column4, .m_events_table-column5, .m_events_table-column6,
     .m_events_table-column7, .m_events_table-column8 {
      width: 100%;
      display: block;
      padding-left: 25px;
    }

    .m_events_table-column8 {
      padding-bottom: 24px;
    }

    .m_events_table {
    width: 100%;
    margin-bottom: 40px;

}

    .m_events_table_border {
      border-left-style: none;
    }
    .m_events_table-heading-mobile {
      display: inline-block;
      margin-right: 5px;
    }

}

//Mobile View

@media (max-width: 450px)
{
  .m_events_table-column1 {
    margin-right: -35px;
}
}

//Small Mobile View
@media (max-width: 450px)
{
.m_events_table-column1 {
  width: 0px;

}

.m_events_table-column2 {
  padding-bottom: 0px;

}

.m_events_table-column2, .m_events_table-column3, .m_events_table-column4, .m_events_table-column5, .m_events_table-column6,
 .m_events_table-column7, .m_events_table-column8 {
  padding-left: 10px;
}
}
