.m-footer {
  background-color: $palette-teal;
  position:relative;
  width:100%;
  bottom:0px;
  height: 157px;
  display: flex;
  padding-top: 63px;
  color: $primary-color;
  text-align: center;
  font-weight: 400;
}
.m-footer_center {
    margin-left: auto;
    margin-right: auto;
  }

.m-footer_sticky {
  height: 157px;
}


//XS Mobile

@media (min-width: 451px)
  {
    .m-footer_first_row {
        float: left;
        margin-right: 4px;
    }

}
