.logo {
  background-color: $primary-color;
  background-image: $primary-logo;
  background-size: 147px 55px;
  background-repeat: no-repeat;
  min-height: 60px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width:768px) {
  .logo {
    margin-left: 14px;
  }
}
