
.m-login {
  padding-top: 72px;
  padding-bottom: 50px;
}

.m-login_box {
   width: 320px;
}

.m-login_input {
   width: 290px;
   height: 32px;
   margin-top: 14px;
   padding-left: 16px;
   background: none;
   border: 1px;
   border-color: $palette-white;
   border-style: solid;
}

.m-login_input_username {
  margin-bottom: 24px;
}

.m-login_text {
  color: $palette-white;
  line-height: 1.0;
  font-weight: 300;
  text-align: left;
}

.m-login_button {
  width: 290px;
  height: 50px;
  margin-top:34px;
  background-color: $palette-turquoise;
  border-style: none;
  font-size: 24px;
  font-weight: 400;
  color: $primary-color;
}

.m-login_button:hover {
  background-color: $palette-teal;

}

.m-login_invalid_alert
{
  background-color: $error-color;
  height: 54px;
  padding: 5px;
  margin-bottom: 24px;
  text-align: left;
  font-weight: 400;
  color: $palette-white;
}

.m-login_invalid_alert_img {
  width: 22px;
  height: 44px;
}

.m-login_invalid_alert_img_block {
  width: 22px;
  float: left;
  height: 44px;
  margin-left: 7px;
  margin-right: 20px;
}
