.m-navbar {
  background-color: $palette-teal;
  border: none;
  border-radius: inherit;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  color: $primary-color;
  font-weight: 400;
}

.m-navbar > ul > li {
  display:block;
}

.m-navbar > ul > li > a {
  color: $primary-color;
}

.m-navbar_logout{
  text-align: right;
  padding-right: 0px;
}
 .m-navbar_logout > .nav > li > a {
   padding-right: 0px;
   padding-left: 0px;
   margin-left: auto;
   width: 75px;
 }

.m-navbar_logout > .nav > li > a:hover {
  background-color: transparent;
}

//Admin Secondary Navigation Menu

.m-navbar_admin_secondary {
  background-color: $table-charcoal;
  margin-top: 32px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 24px;
  font-weight: 400;
  color: $palette-white;
  line-height: .8;

}

.m-navbar_admin_secondary > ul > li > a {
  color: $palette-white;
  width: 150px;
  text-align: center;
}

.m-navbar_admin_secondary > ul > li > a:hover {
   background-color: $palette-teal;
   color: $table-nav-selected;
}

.m-navbar_admin_secondary > ul > li > a:active {
   background-color: $palette-teal;
   color: $table-nav-selected;
}

.m-navbar_admin_secondary > ul > li {
  float:left;
}
