.m-table
{
}

.m-table_title
{
  float:left;
  padding-right: 8px;
}

.m-table_sort
{
  float:left;
  padding-top: 5px;
}

.m-table_title-center
{
  width: 100%;
  margin-right: -35px;
}

.m-table_sort-center
{
  padding-top: 11px;
}

//Desktop Specific
@media (min-width: 991px) {
td.m_events_table-column-break {
    display: none;
}
}

//Tablet View
@media (min-width: 991px)
  and (max-width: 1199px)
  {
.m-table_title-center {
    margin-right: -25px;
}
}

//Mobile Menu

.m-table_mobile_menu {
  display:none;

}

.m-table_mobile_menu-styling {
  width: 195px;
  background-color: transparent;
  border: none;
  float: right;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 16px;
  padding-right: 0px;
  padding-left: 0px;
}

.m-table_mobile_menu-text {
  padding-left: 15px;
  float: left;
}

.m-table_mobile_menu-text-desc {
float: left;
}

.m-table_mobile_menu-icon {
  float: right;
  width: 17px;
}

.m-table_mobile_menu-styling-dropdown {
    min-width: 142px;
    margin-right: 16px;
    margin-top: 47px;
    padding-top: 9px;
    padding-bottom: 9px;
    right: 0;
    left: auto;
    border-radius: 0px;
}

.m-table_mobile_menu-styling-dropdown > li > a
{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

//Mobile View
@media (max-width: 990px)
  {

.m-table_mobile_menu-hide {
  display:none;
}

.m-table_mobile_menu {
  display:block;

}
}


//Mobile Larger View
@media (min-width: 990px)
  {

.m-table_mobile_menu-styling-dropdown {
    margin-right: 0px;
}
.m-table_mobile_menu-styling {
  margin-right: 0px;
}
}
