//Moz Bug Fix
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


.m_users_table {
  width: 100%;
  margin-top: 36px;
  margin-bottom: 68px;
  padding-left: 14px;
  color: $palette-white;
  font-weight: 300;
}

.m_users_table_border {
  border-left: 2px;
  border-left-style: solid;
  border-color:$table-charcoal-lite;
}
.m_users_table-heading {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 14px;
}

.m_users_table-heading > tr > th {
  padding-bottom: 7px;
}

.m_users_table_pagination {
  text-align: center;
  margin-bottom: 80px;
}

.m_users_table_pagination_text {
  padding-left: 11px;
  padding-right: 11px;
}

.m_users_table_pagination-page-numbers {
  border-color: $palette-white;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

//Fixed Width Table Columns
.m_users_table-column1 {
  width:68px;
}
.m_users_table-column2{
  width:212px;
  padding-left:14px;
  color: $palette-teal;
}

.m_users_table-column2-heading{
  color: $palette-white;
}

.m_users_table-column3 {
  width:155px;
  padding-left:14px;
}
.m_users_table-column4 {
  width:180px;
  padding-left:14px;
}
.m_users_table-column5 {
  width:130px;
  padding-left:14px;
}
.m_users_table-column6 {
  width:147px;
  line-height: 1.0;
  text-align: center;
}
.m_users_table-column7 {
  width:141px;
  line-height: 1.1;
  text-align: center;
}

//Tablet View

@media (min-width: 991px)
  and (max-width: 1024px)
  {

.m_users_table-column1 {
  width:58px;
}
.m_users_table-column2{
  width:212px;
}
.m_users_table-column3 {
  width:141px;
}
.m_users_table-column4 {
  width:155px;
}
.m_users_table-column5 {
  width:117px;
}
.m_users_table-column6 {
  width:134px;
}
.m_users_table-column7 {
  width:129px;
}
}

//Mobile View

@media (max-width: 990px)
  {
    .m_users_table-column1 {
      padding: 24px;

    }
    .m_users_table-column2 {
      width: 100%;
      display: block;
      padding-left: 25px;
      padding-top: 24px;
      font-weight: 400;
    }
    .m_users_table-column3 {
      width: 100%;
      display: block;
      padding-left: 25px;
    }
    .m_users_table-column4 {
      width: 100%;
      display: block;
      padding-left: 25px;
    }
    .m_users_table-column5 {
      width: 100%;
      display: inline-block;
      padding-left: 25px;
    }
    .m_users_table-column6 {
      width: 100%;
      display: block;
      padding-left: 25px;
      text-align: left;
      line-height: 1.42857;
    }
    .m_users_table-column7 {
      width: 100%;
      display: block;
      padding-left: 25px;
      padding-bottom: 24px;
      text-align: left;
      line-height: 1.42857;
    }

    .m_users_table {
    width: 100%;
    margin-bottom: 40px;

}

    .m_users_table_border {
      border-left-style: none;
    }
    .m_users_table-heading-mobile {
      display: inline-block;
      margin-right: 5px;
    }

}
