//Primary Theme

html {
  background-color: $primary-color;
}
body {
    background-color: $primary-color;
    font-family: $site-default-font;
    font-size: $body-fontsize;
    font-weight: 300;
    line-height: 1.42857;
    color: $palette-white;

  }

  html, body {
  height: 100%;
  }

.container {
    max-width: 1043px;
    margin-left: auto;
    margin-right: auto;
  }

.primary-content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -157px;
}

//Text and Input box glow

input:focus {
    outline:none;
}

//Zebra Striping
tbody:nth-child(odd){
  background-color: $table-row1-background;
}
tbody:nth-child(even){
  background-color: $table-row2-background;
}

//Warnings

.warning-icon {
  padding-left: 10px;
  margin-top: 5px;
  height: 20px;
  z-index: 2;
}


.img-missing {
  width: 119px;
  height: 68px;
  z-index: 1;
}

.img-missing_small {
    height: 68px;
    width: 68px;
}

.glyphicon_styling {
    clear: left;
    float: left;
    font-size: 10px;
    line-height: .6;

}

//Tablet

@media (min-width: 991px)
  and (max-width: 1024px)
  {

    .container {
        width: 961px;
        max-width: 961px;
        min-width: 961px;
      }

  }

  //Mobile
  @media (max-width: 990px)
    {

      .container {
        width: 100%;

        }


  }

//XS Mobile

@media (max-width: 450px)
  {

.warning-icon {
  position: absolute;
  margin-top: 30px;
}
}
