//Logo
$primary-logo: url("../assets/img/logo-teal-white@2x.png");

//Warning Icon
$warning-icon: url("../assets/img/alert-icon.svg");

//Colors Palette Primary
$primary-color: #2a2a2a;
$palette-black: #2a2a2a;
$palette-teal: #55f5b5;
$palette-turquoise: #04e3e0;
$palette-white: #ffffff;

//Table Colors
$table-charcoal: #383838;
$table-charcoal-lite: #454545;
$table-charcoal-dark: #2f2f2f;
$table-nav-selected: #040404;
$table-row1-background: #2d2d2d;
$table-row2-background: #333333;

//Video Colors
$video-primary: #000000;
$video-contrast: #c1c1c1;

//Alert Colors
$alert-primary: #fdf86e;
$error-color: #fb4444;

//Catagory Colors
$catagory-education: #fc378c;
$catagory-sports: #873dbb;
$catagory-political: #ea6d08;
$catagory-tv-movies: #0e8fc5;
$catagory-other: #c5930e;
$catagory-replace-me: #543af1;

//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$site-default-font: 'Open Sans', sans-serif;

$body-fontfamily: $site-default-font;
$body-fontsize: 16px;
$body-fontweight: 300;

$page-heading-fontfamily: $site-default-font;
$page-heading-fontsize: 30px;
$page-heading-fontweight: 600;

$pagesub-heading-fontfamily: $site-default-font;
$pagesub-heading-fontsize: 24px;
$pagesub-heading-fontweight: 400;

//Buttons
.btn {
  background-color: #04e3e0;
  border-radius: 0px;
}
:focus {
  outline-width: 0px !important;
}

//Iphone Rounded Input Fix

  input {
    border-radius: 0;
}
