<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Feedback 3D</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="../styles/main.css">
  <!-- endinject -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="icon" href="../assets/icon/favicon.ico">

</head>
<body>
  <div class="primary-content">
<div onclick="location.href='./admin-events.html';" style="cursor:pointer;" class="logo container"></div>
<nav role="navigation" class="m-navbar container-fluid">
  <div class="m-navbar m-navbar_logout container">
  <ul class="nav" ng-show="authenticated">
    <li><a href="#" ng-click="logout()">Log Out</a></li>
  </ul>
</div>
</nav>
<div class="container">
<nav role="navigation" class="m-navbar m-admin_home_toggle">
<ul class="nav">
  <li><a href="./admin-events.html">Events</a></li>
  <li><a href="./admin-users.html">Users</a></li>
</ul>
</nav>
</div>
<div class="container">
	<div class="row">
      <div class="table">
        <table class="m_events_table">
       <thead class="m_events_table-heading">
            <tr class="m-table_mobile_menu-hide">
              <th class="m_events_table-column1"></th>

              <th class="m_events_table-column2"></th>

              <th class="m_events_table-column3 m_events_table-column3-heading"><div class="m-table_title">Title </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_events_table-column4"><div class="m-table_title">Author </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_events_table-column5"><div class="m-table_title">Created </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_events_table-column6"><div class="m-table_title">Event Date </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_events_table-column7"><div class="m-table_title">Category </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>

              <th class="m_events_table-column8"><div class="m-table_title">Status </div>
              <div class="m-table_sort"><span class="glyphicon glyphicon-menu-up glyphicon_styling" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-menu-down glyphicon_styling" aria-hidden="true"></span></div></th>
            </tr>

            <!--Mobile Table Sort Dropdown -->
            <div class="btn-group m-table_mobile_menu">
              <button type="button" class="m-table_mobile_menu-styling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="m-table_mobile_menu-text-desc">Sort by:</span><span class="m-table_mobile_menu-text">Title </span>
                <span class="m-table_mobile_menu-icon"><img src="../assets/img/arrow-up.svg"/></span>
              </button>
              <ul class="dropdown-menu m-table_mobile_menu-styling-dropdown">
                <li><a href="#">Title</a></li>
                <li><a href="#">Author</a></li>
                <li><a href="#">Created</a></li>
                <li><a href="#">Event Date</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Status</a></li>
              </ul>
            </div>
<!--End/ Mobile Table Sort Dropdown -->
          </thead>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"><img class="warning-icon" src="../assets/img/alert-icon.svg"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"><img class="warning-icon" src="../assets/img/alert-icon.svg"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="m_events_table-column1"></td>
              <td class="m_events_table-column2 m_events_table_border "><img class="img-missing" src="../assets/img/noimg.png"></td>
              <td class="m_events_table-column3 m_events_table_border ">Medium Title</td>
              <td class="m_events_table-column4 m_events_table_border"><span class="m_events_table-heading-mobile">Author</span> Feeback 3D</td>
              <td class="m_events_table-column5 m_events_table_border"><span class="m_events_table-heading-mobile">Created</span> 01/01/16</td>
              <td class="m_events_table-column6 m_events_table_border"><span class="m_events_table-heading-mobile">Event Date</span> 02/15/16–03/15/16</td>
              <td class="m_events_table-column7 m_events_table_border"><span class="m_events_table-heading-mobile">Category</span> Education</td>
              <td class="m_events_table-column8 m_events_table_border"><span class="m_events_table-heading-mobile">Status</span> Pending Approval</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class=""></ul>
	</div>
</div>
<div class="container m_events_table_pagination"><span class="m_events_table_pagination_text">Previous</span>
<span class="m_events_table_pagination-page-numbers">1</span>
  <span class="m_events_table_pagination-page-numbers">2</span>
  <span class="m_events_table_pagination-page-numbers">3</span>
  <span class="m_events_table_pagination-page-numbers">4</span><span class="m_events_table_pagination_text">Next</span></div>


<div class="m-footer_sticky"></div>
        </div>
        <footer class="m-footer">
        <div class="m-footer_center"><div class="m-footer_first_row">© 2016 Feedback 3D. </div> All rights reserved.</div></footer>
</body>
</html>
