<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Feedback 3D</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endinject -->
<link rel="icon" href="./assets/icon/favicon.ico">
</head>
<body>
  <div class="primary-content">
<div onclick="location.href='./index.html';" style="cursor:pointer;" class="logo container"></div>
<nav class="m-navbar container-fluid">
</nav>
  <login>
  <div class="container m-login" ng-controller="loginController" data-ng-init="reset()">
  <div class="row row-centered">
      <div class="col-xs-12 col-sm-6 col-centered m-login_box">

        <div class="m-login_invalid_alert" ng-if="!firstAttempt"><div class="m-login_invalid_alert_img_block">
         <img class="m-login_invalid_alert_img" src="./assets/img/alert-icon.svg"/></div>
          Please enter a valid email address</div>
        <div ng-if="firstAttempt"></div>

      <div class="m-login_text">Email Address</div><input type="username" class="m-login_input m-login_input_username" p ng-model="user.username" auto-focus>
      <div class="m-login_text">Password</div><input type="password" class="m-login_input m-login__input_password" ng-model="user.password" my-enter="login()">

          <button class="m-login_button" ng-click="login(/admin/admin-index.html)">Log In</button>
      </div>
  </div>
</login>
</div>
<div class="m-footer_sticky"></div>
        </div>
<footer class="m-footer">
<div class="m-footer_center"><div class="m-footer_first_row">© 2016 Feedback 3D. </div> All rights reserved.</div></footer>
</body>
</html>
